@page
@model caintDashboard.Pages.Threads.IndexModel

@{
    ViewData["Title"] = "Threads";
}

<a asp-page="./Index"><div class="pageTitle"><h1>Dashboard</h1></div></a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].hostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread[0].path)
            </th>
            <th>
                Automatically approve comments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Thread) {
        <tr>
            <td>
                <a class="nav-link" asp-area="" asp-page="/Comments/Index" asp-page-handler="ThreadView" asp-route-id="@item.id">
                @Html.DisplayFor(modelItem => item.id)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hostname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noApproval)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
