@page
@model caintDashboard.Pages.Tenants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<a asp-page="./Index"><div class="pageTitle"><h1>Dashboard</h1></div></a>

<a class="nav-link" asp-page="Create">
    Create.
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].tenantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant[0].active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tenant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a> |
                <a asp-page="./Backup" asp-route-id="@item.id">Download Backup</a>
            </td>
        </tr>
}
    </tbody>
</table>
